<html>
  <head>
    <title><%= title %></title>
  </head>

  <body>
    <h1><%= title %></h1>

    <%- include('partials/errors.ejs') %>

    <form action="/create" method="post">
      <label for="firstName">First Name:</label>
      <input type="text" name="firstName" id="firstName" required />

      <label for="lastName">Last Name:</label>
      <input type="text" name="lastName" id="lastName" required />

      <label for="email">Email Address:</label>
      <input type="email" name="email" id="email" required />

      <label for="age">Age:</label>
      <input type="text" name="age" id="age" />

      <label for="bio">Bio:</label>
      <textarea name="bio" id="bio" cols="30" rows="10"></textarea>

      <button type="submit">Submit</button>

      <a href="/">Back to home</a>
    </form>
  </body>
</html>
