<html>
  <head>
    <title><%= title %></title>
  </head>

  <body>
    <h1><%= title %></h1>

    <%- include('partials/errors.ejs') %>

    <form action="/<%= user.id %>/update" method="post">
      <input type="text" name="firstName" id="firstName" required />
      <input type="text" name="lastName" id="lastName" required />
      <button type="submit">Update User</button>
    </form>

    <a href="/">Back to home</a>
  </body>
</html>
